html, body
{
    padding: 0;
    margin: 0;
    background: var(--el-bg-color-page);
    color: var(--el-text-color-primary);
    font-family: 'Noto Sans';
    transition: background-color 0.2s ease, color 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a
{
    color: var(--el-text-color-primary);
}

.logo
{
    width: 32px;
    height: 32px;
}